@use'../variables';

.button {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color: variables.$secondaryTextColor;
        background-color: variables.$purple1;
        border-radius: 7%;
    }


    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}